#login {
  background-image: url('../images/login_bg_blurred.jpg');
  background-size: 100%;
}

/******* Header **********/
#login header {
  padding: 55px 10px 15px;
}
#login header .light-bg {
  top: 35px;
  height: 80px;
  z-index: -1;
}

/*********** logo section *************/
.logo-section h1 {
  color: #42a5f5;
  margin: 0;
  line-height: 38px;
}
.logo-section h1 .half {
  color: #1976d2;
}

/************* login section *************************/
.login-section {
  float: right;
  z-index: 0;
}

/****** Sign up *****/
.sign-up, .section-2 {
  padding: 10px 30px 30px;
}
.sign-up .light-bg, .section-2 .light-bg {
  width: 100%;
  height: 565px;
  z-index: -1;
  .sub-headingY{
  height: 240px;}
}
.sign-up .custom-form .inputbox {
  width: 70%;
  margin: 10px 0;
}
.sign-up .custom-form .btn-primary {
  margin: 10px 0px 10px 30px;
}


/******* Section-2 specific ******/
.section-2 p {
  border-bottom: solid 2px #546e7a;
  padding: 5px 0 20px;
  color: #546e7a;
  font-size: 14px;
}
.section-2 .social-links {

}

.gender{
padding-left: 25px;
padding-right: 100px;
}

.sub-headingY{
      height: 150px !important;
}

.winner-image{
    width: 70px;
    height: 65px;
    padding-bottom: 5px;
}

.leader-board{
  display: block;
}

.winner-details{
  padding-left: 40px;
}

