#roomPage{
background-image: url('../images/testLMS.jpg');
background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

#error{
	margin-top: 150px;
    margin-left: 300px;
    background-color: #338000;
    margin-right: 350px;
    opacity: 0.7;
    color: whitesmoke;
    font-size: x-large;
    padding-left: 20px;
    align-content: center;
}
.choose-category
{
    padding-top: 10px;
    color: rgb(66,165,245);
    font-size: 20px;
    padding-right: 27em;
  }
  
  .content{
  margin-top:50px;
  }

  .sub-container{
  	    width: 1435px !important;
    height: 100%;   
    opacity: 0.7;
  }

  .exam-category{
  	top: 0 !important;
  	    margin: 1.5em 0 !important;
  }

  .last, .room-category{
    width: 100% !important;
    padding-left: 370px;
  }
  #submitForm{
  	display: block;
  	background-color: rgb(66,165,245);
  	margin-left: 530px;
  }

  .each-room{
  	    width: 600 !important;
  	        height: 60px;
    
        text-align: center;
            margin: 1.5em 0;
  }
  .examSectionDropDown{
  margin: 1.5em 0;	
  }

label{
	    padding-left: 10px;
    padding-right: 15px;
}

.top-panel{
	 background-color:rgb(245, 245, 245);
}
