#roomPage{
background-image: url('../images/PickExam.jpg');
background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
.choose-category
{
    padding-top: 10px;
    color: rgb(66,165,245);
    font-size: 20px;
    padding-right: 27em;
  }

  .sub-container{
  	    width: 1435px !important;
    height: 100%;
    background-color: white;
    opacity: 0.7;
  }

  .exam-category{
  	top: 0 !important;
  	    margin: 1.5em 0 !important;
  }

  .last, .room-category{
    width: 100% !important;
    padding-left: 370px;
  }
  #submitForm{
  	display: block;
  	background-color: rgb(66,165,245);
  }

  .each-room{
  	    width: 400 !important;
  	        height: 60px;
    background-color: #8FA1BD;
        text-align: center;
            margin: 1.5em 0;
  }
  .examSectionDropDown{
  margin: 1.5em 0;	
  }

label{
	    padding-left: 10px;
    padding-right: 15px;
}