#roomPage{
background-image: url('../images/PickExam.jpg');
background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
.choose-category
{
    padding-top: 10px;
    color: rgb(66,165,245);
    font-size: 20px;
    padding-right: 27em;
  }

  .sub-container{
  	    width: 1435px;
    height: 100%;
    background-color: white;
    opacity: 0.7;
  }

  .exam-category{
  	top: 0;
  }